<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="footer__item">
                            <div class="footer-logo">
                                <a href="#">
                                    <img src="/client/img/Inlogo/xfooter-logo.png.pagespeed.ic.itW_wULNzW.webp"
                                        alt="logo">
                                </a>
                            </div>
                            <p class="footer__item-text">
                                The customer is at the heart of our unique business model,
                                which includes design.
                            </p>
                            <div class="footer-logo">
                                <a href="#">
                                    <img src="/client/img/Inlogo/xpayment.png.pagespeed.ic.baCZTAO1zx.webp" alt="logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 offset-1">
                        <div class="footer__item">
                            <div class="footer__item-title">
                                <h6>
                                    SHOPPING
                                </h6>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        Clothing Store
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Trending Shoes
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Accessories
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sales
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="footer__item">
                            <div class="footer__item-title">
                                <h6>
                                    SHOPPING
                                </h6>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Payment Methods
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Delivary
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Return & Exchanges
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 offset-1">
                        <div class="footer__item">
                            <div class="footer__item-title">
                                <h6>
                                    NEWLETTER
                                </h6>
                            </div>
                            <p class="footer__item-text">
                                Be the first to know about new arrivals, look books, sales & promos!
                            </p>
                            <form action="#" class="footer__form-email">
                                <input type="text" name="email" id="email" placeholder="Your Email">
                                <button type="submit" class="button-submit">
                                    <i class="far fa-envelope"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="footer__copy-right-text ">
                            <p class="footer__item-text m-0">
                                Copyright © 20222020 All rights reserved | This template is made with by Colorlib
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>